/* Defining default font family */

* {
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s;
    letter-spacing: 0.1em;
}


/* Home Styles */

.home-section {
    width: 100%;
    height: 960px;
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url('images/bg/bg\ image\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.navbar {
    font-weight: 700;
    width: 100%;
    background: rgba(0, 0, 0, 0.5)!important;
}

.navbar-brand {
    font-size: 24px;
    margin-right: 10rem;
}

.navbar a {
    text-transform: uppercase;
    color: white!important;
}

.nav-link {
    margin-right: 2rem;
    font-size: 12px;
}

.main-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.btn-play {
    width: 260px;
    height: 60px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    font-weight: 700;
}

.home-section__description {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
}

.home-section__description h1 {
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 72px;
    font-weight: 700;
    line-height: 83px;
}

.home-section__description h3 {
    font-weight: lighter;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif!important;
}

.home-section__description__items {
    margin-bottom: 4rem;
}

.home-section__bottom h6 {
    position: absolute;
    bottom: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.svg-arrow {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.svg-arrow:hover {
    fill: white;
}


/* Items Styles */

.items-section {
    width: 100%;
    height: 1051px;
    background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url('images/bg/bg\ image\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.items-padding {
    padding-top: 15rem;
}

.items-section__description h5 {
    font-size: 1.7rem;
}

.items-section__description h1 {
    font-size: 3.7rem;
}

.items-carousel {
    position: relative;
}

.carousel-control-prev-icon {
    position: absolute;
    left: -3rem;
    background-image: url(images/svg/switch.svg);
}

.carousel-control-next,
.carousel-control-prev {
    opacity: unset;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    background-image: url(images/svg/switch\ fill.svg);
}

.carousel-control-next-icon {
    position: absolute;
    right: -3rem;
    background-image: url(images/svg/switch.svg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.carousel-indicators li {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    opacity: unset;
    border: 2px solid white;
    background-color: transparent;
    margin-right: 2rem;
}

.carousel-indicators .active {
    background-clip: unset;
    background-color: white;
}


/* Features Styles */

.features-section {
    margin-top: -5px;
    height: 920px;
    width: 100%;
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url(images/bg/bg\ image\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.features-container {
    width: 45%;
    float: right;
    margin-top: 12rem;
}

.features-container h3 {
    font-size: 1.7rem;
}

.features-container h1 {
    font-size: 3.7rem;
}

.features-section__timeline h3 {
    color: #FFB548;
}

.features-section__timeline p {
    width: 65%;
}

ul.features-section__timeline {
    list-style-type: none;
    position: relative;
}

ul.features-section__timeline:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    left: 8.2px;
    width: 2px;
    height: 49%;
    top: 0.95rem;
    z-index: 5;
}

ul.features-section__timeline>li {
    margin: 20px 0;
    margin-bottom: 5rem;
    padding-left: 20px;
}

ul.features-section__timeline>li:before {
    content: ' ';
    border: 2px solid white;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 1.3px;
    width: 16px;
    height: 16px;
    z-index: 5;
}

li.timeline-is-active::before {
    background-color: white!important;
}


/* System Requirements Styles */

.requirements-section {
    margin-top: -5px;
    height: 1000px;
    width: 100%;
    background-image: radial-gradient(43.26% 45% at 57.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url(images/bg/bg\ image\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.requirements-container {
    height: 85%;
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.requirements-container h3 {
    font-size: 0.9rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
}

.requirements-container h1 {
    font-size: 3.7rem;
    width: 50%;
}

.row-container {
    margin-top: 8rem;
    width: 50%;
}

.col-sm {
    border: 1px solid #363636;
    padding: 1rem;
}

.requirements-section__title {
    font-size: 1.5rem;
    color: #FFB548;
}